*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# Poetry
requirements*.txt

# CDK asset staging directory
.cdk.staging
cdk.out

# PyCharm
.idea

# Unit test / coverage reports
.coverage

# Node
node_modules